<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :daily_budget_cents %>
    <%= form.number_field :daily_budget_cents %>
  </div>

  <div class="field">
    <%= form.label :monthly_budget_cents %>
    <%= form.number_field :monthly_budget_cents %>
  </div>

  <div class="field">
    <%= form.label :total_budget_cents %>
    <%= form.number_field :total_budget_cents %>
  </div>

  <div class="field">
    <%= form.label :bid_amount_cents %>
    <%= form.number_field :bid_amount_cents %>
  </div>

  <div class="field">
    <%= form.label :redirect_url %>
    <%= form.text_area :redirect_url %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
