<div class="card">
  <div class="card-body">
    <%= simple_form_for campaign do |f| %>
      <%= f.input :name %>
      <%= f.input :redirect_url %>
      <%= f.input :status, collection: ::Campaign::STATUSES.map { |k,v| [v.humanize.capitalize, k] }, include_blank: false %>

      <%= f.input :daily_budget, wrapper: :vertical_input_group do %>
        <%= input_group_addon_icon "fas", "dollar-sign" %>
        <%= f.input_field :daily_budget, class: "form-control" %>
      <% end %>

      <%= f.input :monthly_budget, wrapper: :vertical_input_group do %>
        <%= input_group_addon_icon "fas", "dollar-sign" %>
        <%= f.input_field :monthly_budget, class: "form-control" %>
      <% end %>

      <%= f.input :total_budget, wrapper: :vertical_input_group do %>
        <%= input_group_addon_icon "fas", "dollar-sign" %>
        <%= f.input_field :total_budget, class: "form-control" %>
      <% end %>

      <%= f.input :bid_amount, wrapper: :vertical_input_group do %>
        <%= input_group_addon_icon "fas", "dollar-sign" %>
        <%= f.input_field :bid_amount, class: "form-control" %>
      <% end %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>
